
 <br><br>
All Food Reviews!


<ul>
        <br><br>
    <% @foodreview.each do |foodreview| %>
        <% if foodreview.user == current_user %> 
        <li><a href="/foodreviews/<%= foodreview.id%>"><%= foodreview.content %></a></li>
        <% else %> 
        <li><%= foodreview.content %></li>
        <% end %>
        <p><%= foodreview.created_at %></p>
        <p> By <%= foodreview.user.name %></p>
        <br><br>
    <% end %>
</ul>